include "~/.nano/spiffy/apache2.nanorc"
include "~/.nano/spiffy/apacheconf.nanorc"
include "~/.nano/spiffy/aptsrclist.nanorc"
include "~/.nano/spiffy/asm.nanorc"
include "~/.nano/spiffy/bash.nanorc"
include "~/.nano/spiffy/changelog.nanorc"
include "~/.nano/spiffy/changelogs.nanorc"
include "~/.nano/spiffy/c.nanorc"
include "~/.nano/spiffy/coffee.nanorc"
include "~/.nano/spiffy/config2.nanorc"
include "~/.nano/spiffy/config3.nanorc"
include "~/.nano/spiffy/configfiles.nanorc"
include "~/.nano/spiffy/config.nanorc"
include "~/.nano/spiffy/conf.nanorc"
include "~/.nano/spiffy/conky.nanorc"
include "~/.nano/spiffy/css.nanorc"
include "~/.nano/spiffy/cython.nanorc"
include "~/.nano/spiffy/default.nanorc"
include "~/.nano/spiffy/delphi.nanorc"
include "~/.nano/spiffy/desc.nanorc"
include "~/.nano/spiffy/dotemacs.nanorc"
include "~/.nano/spiffy/dummy.nanorc"
include "~/.nano/spiffy/ekghistory.nanorc"
include "~/.nano/spiffy/emailquote.nanorc"
include "~/.nano/spiffy/etc-stuff.nanorc"
include "~/.nano/spiffy/etcxml.nanorc"
include "~/.nano/spiffy/fortran.nanorc"
include "~/.nano/spiffy/gentoo.nanorc"
include "~/.nano/spiffy/groff.nanorc"
include "~/.nano/spiffy/haskell.nanorc"
include "~/.nano/spiffy/havp.nanorc"
include "~/.nano/spiffy/html.nanorc"
include "~/.nano/spiffy/info.nanorc"
include "~/.nano/spiffy/ini.nanorc"
include "~/.nano/spiffy/initng.nanorc"
include "~/.nano/spiffy/initscript.nanorc"
include "~/.nano/spiffy/java.nanorc"
include "~/.nano/spiffy/js.nanorc"
include "~/.nano/spiffy/lex.nanorc"
include "~/.nano/spiffy/log-stuff.nanorc"
include "~/.nano/spiffy/lua.nanorc"
include "~/.nano/spiffy/maincf.nanorc"
include "~/.nano/spiffy/makefile.nanorc"
include "~/.nano/spiffy/man.nanorc"
include "~/.nano/spiffy/markdown.nanorc"
include "~/.nano/spiffy/mimetype.nanorc"
include "~/.nano/spiffy/named.nanorc"
include "~/.nano/spiffy/nanorc.nanorc"
include "~/.nano/spiffy/nscd.nanorc"
include "~/.nano/spiffy/others.nanorc"
include "~/.nano/spiffy/paludis.nanorc"
include "~/.nano/spiffy/passwd.nanorc"
include "~/.nano/spiffy/patch.nanorc"
include "~/.nano/spiffy/perl.nanorc"
include "~/.nano/spiffy/php.nanorc"
include "~/.nano/spiffy/po.nanorc"
include "~/.nano/spiffy/postgresql.nanorc"
include "~/.nano/spiffy/pov.nanorc"
include "~/.nano/spiffy/privoxy.nanorc"
include "~/.nano/spiffy/python.nanorc"
include "~/.nano/spiffy/rcfiles-new.nanorc"
include "~/.nano/spiffy/reST.nanorc"
include "~/.nano/spiffy/rsync.nanorc"
include "~/.nano/spiffy/ruby.nanorc"
include "~/.nano/spiffy/sh.nanorc"
include "~/.nano/spiffy/softcam.nanorc"
include "~/.nano/spiffy/tab.nanorc"
include "~/.nano/spiffy/tcl.nanorc"
include "~/.nano/spiffy/tex.nanorc"
include "~/.nano/spiffy/todo.nanorc"
include "~/.nano/spiffy/txt2tags.nanorc"
include "~/.nano/spiffy/urls.nanorc"
include "~/.nano/spiffy/xdefaults.nanorc"
include "~/.nano/spiffy/xml.nanorc"
include "~/.nano/spiffy/xorg.nanorc"
include "~/.nano/spiffy/yacc.nanorc"


include "~/.nano/syntax/ALL.nanorc"
